#clippath-left,
#clippath-right,
#Left_Horn,
#Right_Horn {
    transition: all 0.3s ease-in-out;
}

.Logo-RaiseEyebrow #clippath-left,
.Logo-RaiseEyebrow #clippath-right {
    transform: translate(0px, -5px);
}

.Logo-Squint #clippath-left,
.Logo-Squint #clippath-right {
    transform: translate(0px, 15px);
}

.Logo-RaiseHorns #Right_Horn,
.Logo-RaiseHorns #Left_Horn {
    transform: translate(0px, -15px);
}